
.portada{
	background-image: url(../img/portada1.jpg);
	background-size: cover;
	background-attachment: fixed;
	z-index: -10;
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
}
.portada h2{
	font-family: 'Kanit', sans-serif;
	font-size: 3rem;
	width: 100%;
	align-items: center;
	text-align: center;
}


.subTitulo h3{
	font-family: 'Kanit', sans-serif;
	font-size: 2.5rem;
}

.subtitulo{
	font-size: 45px;
	font-family: 'Kanit', sans-serif;
	margin-top: 5rem; 
}



.icon{
	font-size: 60px;
	color: #2E86C1;

}
.iconServicio{
	font-size: 60px;
	color: #2E86C1;
	align-items: center;
}

.EfectoSkew{
	transform: skew(-10deg);
	background: #DADADA;
	margin-bottom: 0.3rem;
}
.EfectoSkew h4{
	text-align: center;
}



.logoEmpresa{
	text-align: center;
}
.logoEmpresa img{
	width: 60%;
	filter: grayscale(100%);
}
.logoEmpresa img:hover{
	filter: grayscale(0%);
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.logoEmpresa{
		margin: 1em auto;
	}
	.logoEmpresa img{
		width: 80%;
	}
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	
}