@import url('https://fonts.googleapis.com/css?family=Kanit:900|Roboto&display=swap');

*{
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}

h1{ 
	font-size: 60px;
	font-family: 'Kanit', sans-serif;
}
.titulo:hover{
	text-decoration: none;
	color: black;
}
.h1Color
{
	color: #2E86C1;
	font-family: 'Kanit', sans-serif;
}
.encabezado{
	position: sticky;
	top:0px;
	padding: 3px 30px;
}

.marginPortada{
	margin-top: 450px;
	text-align: center;
}