@import url("https://fonts.googleapis.com/css?family=Kanit:900|Roboto&display=swap");
* {
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  color: black; }

h1 {
  font-family: 'Kanit', sans-serif; }
  @media (min-width: 992px) {
    h1 {
      font-size: 60px; } }

.titulo:hover {
  text-decoration: none;
  color: black; }

.h1Color {
  color: #2E86C1;
  font-family: 'Kanit', sans-serif; }

.encabezado {
  top: 0px;
  padding: 3px 30px;
  z-index: 100; }

.fixed {
  position: fixed; }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  background-color: white; }

.white {
  background-color: white; }

.nav-item a {
  font-size: 1.3rem; }
