@import url('https://fonts.googleapis.com/css?family=Kanit:900|Roboto&display=swap');

*{
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}

h1{ 
	font-size: 60px;
	font-family: 'Kanit', sans-serif;
}
.titulo:hover{
	text-decoration: none;
	color: black;
}
.h1Color
{
	color: #2E86C1;
	font-family: 'Kanit', sans-serif;
}
.encabezado{
	position: sticky;
	top:0px;
	padding: 3px 30px;
	background-color: white;
	z-index: 100;
}

.nav-item a{
	font-size: 1.3rem;
}

.navStyle{
	padding-top: 20px;
}

