
img {
	width: 100%;
}

h2{
	font-size: 45px;
	font-family: 'Kanit', sans-serif;
	padding: 2rem 0px;
	width: 100%;
	text-align: center;
}

.backGrey{
	background: #EAEAEA;
	padding-bottom: 4rem;
}

.subTitulo h3{
	font-family: 'Kanit', sans-serif;
	text-align: center;
}

.center{
	text-align: center;
}

.centerImg{
	display: flex;
	align-items: center;
}