img {
  width: 100%; }

h2 {
  font-size: 45px;
  font-family: 'Kanit', sans-serif;
  padding: 2rem 0px;
  width: 100%;
  text-align: center; }

.backGrey {
  background: #EAEAEA;
  padding-bottom: 4rem; }

.subTitulo h3 {
  font-family: 'Kanit', sans-serif;
  text-align: center; }

.center {
  text-align: center; }

.Imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 991px) {
    .Imagen {
      margin-bottom: 2rem; } }

@media screen and (max-width: 991px) {
  .Elem {
    margin-bottom: 2rem; } }

@media (max-width: 991px) {
  p {
    font-size: 1rem; }
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.5rem; } }
