
/*body {background-color: #FAFAFA;}*/

img {width: 100%;}

.encabezado{
	background-color: white;
	z-index: 10;
}
/*Efecto de Inclinado Imagen Derecha*/
.box{
	display: flex;
	width: 100%;
}
.boxTextIzq{
	position: relative;
	width: 50%;
	z-index: 3;
	background-color: #FAFAFA;
}
.boxTextIzq::after{
	position: absolute;
    right: 0;
    height: 100%;
    background: #FAFAFA;
    transform: translate3d(0, 0, 0) skew(-10deg);
    top: 0;
    transform-origin: bottom;
    width: 100%;
    z-index: -1;
    content: " ";
}

.boxTextDer{
	position: relative;
	width: 50%;
	z-index: 3;
	background-color: #FAFAFA;
}
.boxTextDer::after{
	position: absolute;
    right: 0;
    height: 100%;
    background: #FAFAFA;
    transform: translate3d(0, 0, 0) skew(10deg);
    top: 0;
    transform-origin: bottom;
    width: 100%;
    z-index: -1;
    content: " ";
}

.boxImg{
	width: 50%;
	background: url("../img/empleados.jpg");
	background-size: cover;
	z-index: 1;
}
.boxImg img{
	width: 100%;
}

.borderTop{
	border-top: solid 20px white;
	border-bottom: solid 20px white;
}

.navStyle{
	padding-top: 20px;
	font-size: 18px;
}

.pLeft{
	padding: 0px 40px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

	.pLeft p{
		font-size: 2rem;
	}

	h2{
		font-size: 4rem;
	}
	
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.pLeft p{
		font-size: 1.6rem;
	}

	h2{
		font-size: 3rem;
	}
}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.pLeft p{
		font-size: 1rem;
	}
}

