
footer{
	background-color: lightgrey;
	height: 200px;
}

body{
	background-color: #FAFAFA;
}

.encabezado{
	background-color: white;
	z-index: 10;
}


.imgFranja-1{
	background-image: url(../img/proteccion.jpg);
	background-size: cover;
	width: 100%;
	border-right: solid 30px black;
	transform: skew(-5deg,0deg);
	left: -10px;
}

.imgFranja-2{
	background-image: url(../img/empleados.jpg);
	background-size: cover;
	width: 100%;
	border-left: solid 30px black;
	transform: skew(5deg,0deg);
	right: -10px;
}

.borderTop{
	border-top: solid 20px white;
	border-bottom: solid 20px white;
}

.navStyle{
	padding-top: 20px;
	font-size: 18px;
}

.pLeft{
	padding-left: 20px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

	.pLeft p{
		font-size: 2rem;
	}

	.pleft h2{
		font-size: 4rem;
	}
	
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.pLeft p{
		font-size: 1rem;
	}
}

