// COLORES DE FONDO DE PANTALLA.
$itemServicios: #DADADA;
$secSoluciones: #FAFAFA;
$backNosotros: #EAEAEA;

$navBar: white;

//COLORES DE LOS ELEMENTOS DE LA PAGINA WEB.
$azul: #2E86C1;

// COLORES DE LOS ELEMENTOS DEL FORMULARIO.
$itemForm: rgba(255,255,255,0.4);