@import url('https://fonts.googleapis.com/css?family=Kanit:900|Roboto&display=swap');

@import "variables.scss";

* {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

.titulo {
	font-size: 60px;
	font-family: 'Kanit', sans-serif;

	&:hover {
		text-decoration: none;
		color: rgb(29, 23, 23);
	}
}

.h1Color {
	color: $azul;
	font-family: 'Kanit', sans-serif;
}

.encabezado {
	top:0px;
	padding: 3px 30px;
	z-index: 100;
}
.sticky{
	position: sticky;
	background-color: $navBar;
}
.white{
	background-color: $navBar;
}

.nav-item a {
	font-size: 1.3rem;
}