@import url('https://fonts.googleapis.com/css?family=Kanit:900|Roboto&display=swap');

@import "variables.scss";

* {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

h1 { 
	font-size: 60px;
	font-family: 'Kanit', sans-serif;
}

.titulo:hover {
	text-decoration: none;
	color: black;
}

.h1Color {
	color: $azul;
	font-family: 'Kanit', sans-serif;
}

.encabezado {
	top:0px;
	padding: 3px 30px;
	z-index: 100;
}
.fixed{
	position: fixed;
}
.sticky{
	position: sticky;
	background-color: $navBar;
}
.white{
	background-color: $navBar;
}

.nav-item a {
	font-size: 1.3rem;
}

@media (max-width: 991px){
	h1{ font-size: 2.5rem;}
}